<mat-toolbar color="primary">
  <span>Student Course Management</span>
  <span class="spacer"></span>
  <ng-container *ngIf="isLoggedIn$ | async">
    <a mat-button routerLink="/student">Students</a>
    <a mat-button routerLink="/course">Courses</a>
    <a mat-button routerLink="/enrollment">Enrollments</a>
    <button mat-button (click)="logout()">Logout</button>
  </ng-container>
  <ng-container *ngIf="!(isLoggedIn$ | async)">
    <a mat-button routerLink="/auth/login">Login</a>
    <a mat-button routerLink="/auth/register">Register</a>
  </ng-container>
</mat-toolbar>
