.enrollment-list-container {
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.fab-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
